- if flash[:notice]
  .alert.alert-info{role: alert}
    =flash[:notice].titleize
%ul
%table.table.table-striped.table-hover
  %thead
    %tr
      %th #
      %th Customer name
      %th Tracking Number
      %th Shipped Date
      %th Box Shipped
      %th Actions
      %th Intercom Status
      %th Note
  %tbody
  - @cratejoy_orders.each_with_index do |order, index|
    %tr
      = form_for order do
        =hidden_field_tag :id, order.id
        %th{scope: 'row'}= index + 1
        %td.name= order.customer.name
        %td.tracking-number= link_to order.tracking_number, "https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1=#{order.tracking_number}", {target: 'blank'}
        %td.shipped-date= order.shipment_created_at
        %td.box-shipped= collection_select(:order, :box_id, Box.all, :id, :name, {prompt: true, selected: order.box_id}, class: 'form-control')
        %td.actions
          - if order.customer.intercom_status == Customer.states[:unchecked] || order.customer.intercom_status == Customer.states[:not_found]
            = link_to "Sync Intercom", customer_retry_path(order.customer), class: 'btn btn-warning-outline', method: :patch
          - else
            = button_tag(type: 'submit', class: 'btn btn-success-outline has-spinner') do
              %span.spinner
                %i.fa.fa-spin.fa-refresh
              Update
        %td
          - if order.customer.intercom_status == 'connected'
            %span.label.label-success Connected!
          -else
            = "CJ ID: " + order.customer.cratejoy_id.to_s
        %td
          -if order.note?
            %i.fa.fa-comment{data: {toggle: 'popover', content: "#{order.note}", trigger: 'hover'}, title: "Note" }
