!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CratejoyIntercomTools
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.container
    .col-md-12
      %nav.navbar.navbar-fixed-top.navbar-dark{style: "background-color: #186680;"}
        .nav.navbar-nav
          = link_to root_path, class: 'navbar-brand nav-item nav-link active' do
            %img{src: 'https://d3a1v57rabk2hm.cloudfront.net/mamabirdbox/fashion-copy-0/images/favicon.ico', width: 30}
          = link_to "Sign Out", destroy_user_session_path, class: 'pull-xs-right nav-item nav-link', method: :delete
          = link_to "Account", edit_user_registration_path, class: 'pull-xs-right nav-item nav-link'
    .col-md-12.m-t-5
      = yield
