!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CratejoyIntercomTools
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.container
    %nav.navbar.navbar-full
      .nav.navbar-nav
        = link_to root_path, class: 'navbar-brand nav-item nav-link active' do
          = image_tag "favicon", width: 30
        = link_to "Sign Out", destroy_user_session_path, class: 'pull-xs-right nav-item nav-link', method: :delete
        = link_to "Account", edit_user_registration_path, class: 'pull-xs-right nav-item nav-link'
    .col-md-12
      = yield
